.App {
  text-align: center;
}

.error {
  padding: 4px;
  border-radius: 3px;
  border: 3px solid red;
  color: red;
  font-size: large;
  margin: 5px;
}

.success {
  padding: 4px;
  border-radius: 3px;
  border: 3px solid green;
  color: green;
  font-size: large;
  margin: 5px;
}

.blog {
  background-color: hsl(80, 100%, 84%);
  margin: 3px;
} 